[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/opt/SPECS_FA/sys/bin/stopfa_shell
TryExec=
Icon=/opt/SPECS_FA/sys/resource/icons/stopfa.pm
X-GNOME-DocPath=
Terminal=false
Name[C]=SPECS-FA
Name[ja_JP]=SPECS-FA
GenericName[C]=
GenericName[ja_JP]=
Comment[C]=Stop SPECS-FA VGEM and\nSPECS Session Manager
Comment[ja_JP]=Stop SPECS-FA VGEM\nand SPECS Session Manager
